
 }
 @media screen and (max-width: 425px) {
    nav ul li {
        display: block;
        width: 100%;
    }
    .sidebar, .blog {
        display: block;
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .baslik {
        display: none;
    }
